- var dnsImg = "https://auto-fleet.ru/wp-content/uploads/2022/01/DNS-Logo-1024x672.png"
- var mainText = 'Акционерное общество (АО) — это организация, в которой уставный капитал делится на акции.В разных типах акционерных обществ в разных странах права и обязанности различны. В России, к примеру, участники ограниченного акционерного общества не отвечают по его обязательствам и несут риск убытков, связанных с деятельностью общества в пределах стоимости принадлежащих им акций (ограниченная ответственность).'
-
    var dict1 = [
        {
            "title":"Описание",
            "text":"Акции являются предметом обмена между держателями и другими лицами. Фондовые и финансовые рынки — это организации и места, где происходит торговля акциями и другими ценными бумагами. "
        },
        {
            "title":"Преимущества",
            "text":"Дают право на участие в управлении обществом (обычно, 1 акциясоответствует одному голосу на собрании акционеров, за исключением проведениякумулятивногоависимости от количества купленных акций)."
        }
        ,
        {
            "title":"Публичные",
            "text":"(ПАО) с неограниченным количеством акционеров. Их акции могут размещаться на бирже."
        }
    ]

-
    var dict2 = [
        {
            "title":"Законодательство",
            "text":"В Российской Федерации деятельность АО регулируется федеральным законом от 26.12.1995 N 208-ФЗ[4]. Во многих развитых странах распространена акционерная собственность работников."
        }
        ,
        {
            "title":"История",
            "text":"Акционерные общества в тех или иных формах существуют уже множество веков и найти самое первое хозяйственное общество данного типа не так-то просто. Около 1250 года в Тулузе, Франция, были проданы 96 акций"
        }
        ,
        {
            "title":"непубличные",
            "text":"Акции не могут размещаться на бирже, передача их другим лицам возможна только по согласованию с остальными акционерами. Общее количество акционеров — не больше 50 человек"
        }
    ]
mixin createRow(img, description, text)
    .row
        .row-wrapper 
            img.rowImg(src=img)
            p.rowTitle <b>#{description}</b>
        .row-text #{text}

.mainDns 
    .dnsImgWrapper 
        img(src=dnsImg)
    .dnsHeader 
        h3 Акционерное общество
        p.row-text #{mainText}

.column-wrapper
    .column
        each row in dict1
            +createRow(dnsImg, row.title, row.text)
    .column
        each row in dict2
            +createRow(dnsImg, row.title, row.text)